.env
.venv/
__pycache__/
*.pyc
data/raw/**
!data/raw/**/
!data/raw/**/*.gitkeep
data/processed/**
!data/processed/**/
!data/processed/**/*.gitkeep
*.csv
*.txt
!requirements.txt
node_modules/
dist/
.DS_Store
.pytest_cache/
*.log
